pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.41
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.41.deb
	source = openwork-0.11.41.deb::https://github.com/different-ai/openwork/releases/download/v0.11.41/openwork-desktop-linux-amd64.deb
	sha256sums = 4602c26715663310e8e5b8bcdcc7451bb9bcc12fad42f4238de831813248f803

pkgname = openwork
