pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.58
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.58.deb
	source = openwork-0.11.58.deb::https://github.com/different-ai/openwork/releases/download/v0.11.58/openwork-desktop-linux-amd64.deb
	sha256sums = 468af9c1aaa3280e2a4120799876e006261a8af70a634808a58571dbf58b06f6

pkgname = openwork
